body
{
  color: rgb(203, 236, 72);
  background: #9c38d6;
}
span
{
  font-size: 30px;
}

#result_name ,#result_accuracy 
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}